<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Callmejoy.github.io : my own blog">
    <link rel="icon" type="image/x-icon" href="./../images/favicon.ico">
    <link rel="stylesheet" type="text/css" media="all" href="./../stylesheets/stylesheet.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <title>「 Zhou's Blog 」</title>
  </head>

  <body>

    <aside id="sidebar" class="animated fadeInLeft">

        <header id="masthead">

          <div class="bio-pic">
            <a href="http://magiczhou.com/" >
              <img src='./../images/avatar.png' class='avatar avatar-80 photo' data-hack='data-lazy-src'/></a>
          </div>
          <!--/ bio-pic -->

          <hgroup>
            <h1 class="site-title"><a href="http://magiczhou.com" >Zhou&#039;S BLOG</a></h1>
            <h2 class="site-description">爱运动的文艺技术宅</h2>
          </hgroup>

        </header>
        <!-- /#masthead -->
        <div id="social">
          <ul>
            <li><a href="http://weibo.com/u/3210917473" class="fa fa-weibo" title="Weibo"></a></li>
            <li><a href="https://github.com/callmejoy" class="fa fa-github" title="Github"></a></li>
            <li><a href="mailto:zy2011019190023@gmail.com" class="fa fa-envelope" title="Contact Me"></a></li>
          </ul>
        </div>
        <!-- /#social -->
        <nav id="navigation">
            <div class="menu">
              <ul>
                <li class="page_item page-item-12">
                  <a href="http://callmejoy.github.io/about.html">About</a>
                </li>
                <li class="page_item page-item-369">
                  <a href="http://callmejoy.github.io/search.htn">Search</a>
                </li>
              </ul>
            </div>
        </nav>
        <!-- /#navigation -->
      </aside>
      <!-- /#sidebar -->
    {{content}}
    <footer id="site-footer" role="contentinfo">

      <div id="credit">&copy; <a href="http://magiczhou.com">Magic Zhou</a> 2014, Powered By GitHub</div><!-- /#credit -->

    </footer><!-- /#site-footer -->
  
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253266188'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1253266188%26show%3Dpic2' type='text/javascript'%3E%3C/script%3E"));</script>
    </body>
</html>
